#compteur {
    padding-top: 100px;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2rem;
    letter-spacing: 3px;
}

#faces {
    text-align: center;
    padding-bottom: 20px;
}

/* #gameon .progress {
    height: 1.3rem;
    margin: auto;
}

.progress .progress-bar {
    background-color: #9575cd;
}

.progress, .progress-bar {
    width: 500px;
} */

#buttons {
    text-align: center;
    padding-top: 40px;
}

#buttons .btn {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2rem;
}

#gameover {
    text-align: center;
    padding-top: 50px;
    display: none;
}

#gameover p {
    font-family: 'Black Ops One', cursive;
    font-size: 6rem;
}

#gameover .btn-primary {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2rem;
    background-color: #9575cd;
    border-color: #9575cd;
}

#gameover .btn-primary:hover {
    background-color: #65499c;
}

