html {
    background: url("../images/background2_blur.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#game {
    margin-top: 3%;
    padding: 30px 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 200px;
}

#compteur {
    font-size: 2rem;
    letter-spacing: 3px;
}

#face {
    width: 35%;
}

#needs {
    margin: 0 0 8% 10%;
    width: 20%;
    animation-duration: 0.4s;
}

.progress {
    margin-top: 40px;
    height: 30px;
    width: 60%;
    display: none;
    background-color: white;
    border: 1px solid rgba(126, 117, 126, 0.8);
}

.progress-bar-fill {
    animation: bar-fill 6s;
    display: block;
    background: linear-gradient(to right, rgb(255, 238, 0) 0%, rgb(250, 112, 0) 50%, rgb(253, 1, 1) 100%);

}

@keyframes bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@-o-keyframes bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.btn {
    font-size: 2rem;
    color: white;
    border-radius: 200px;
}

.btn:hover {
    color: white;
}

#gameBtn, #playBtn {
    padding-top: 40px;
}

#gameBtn {
    display: none;
}


#resultat {
    display: inline-block;
}

#gameover {
    padding-top: 50px;
    display: none;
}

#gameover p {
    font-family: 'Black Ops One', cursive;
    font-size: 6rem;
}

#gameover .btn-primary, #playBtn .btn {
    padding: 0.5rem 1.5rem;
    background-color: #9575cd;
    border-color: #9575cd;
}

#gameover .btn-primary:hover, #playBtn .btn:hover {
    background-color: #65499c;
}

@keyframes unzoom {
    0% {
      transform: scale(6);
    }
    100% {
      transform: scale(1);
    }
}

@-webkit-keyframes unzoom {
    0% {
      -webkit-transform: scale(6);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

@media screen and (max-width: 1090px) {

    body {
        background-size: auto;
    }
}


@media screen and (max-width: 798px) {

    #game {
        width: 90%;
    }

    #compteur {
        font-size: 3rem;
    }

    .progress {
        height: 40px;
        width: 70%;
    }

    #buttons .btn {
        font-size: 3rem;
    }

    #gameover p {
        font-size: 7rem;
    }

    #gameover .btn-primary {
        font-size: 3rem;
    }
}

@media screen and (max-width: 700px) {

    #buttons .btn {
        font-size: 2rem;
    }
}

@media screen and (max-width: 575px) {

    #game {
        border-radius: 50px;
    }

    #compteur {
        font-size: 2rem;
    }

    .progress {
        height: 30px;
        width: 70%;
    }

    #buttons .btn {
        font-size: 2rem;
    }

    #gameover p {
        font-size: 5rem;
    }

    #gameover .btn-primary {
        font-size: 2rem;
    }
}

@media screen and (max-width: 325px) {
    #buttons .btn {
        font-size: 1.5rem;
    }

    #gameover p {
        font-size: 3rem;
    }

    #gameover .btn-primary {
        font-size: 1.5rem;
    }
}